
<div class="main">
  <div class="wrap">
  <% @feeds.each do |feed| %>
    <a href=<%= "/feeds/#{feed.id}" %>>
      <div class="feed">
        <h2><%= feed.title %></h2>
        <p class="date"><%= feed.entrydate %></p>
        <p class="desc"><%= feed.desc %></p>
        <p class="link">詳しく見る</p>
      </div>
    </a>
  <% end %>
  </div>
</div>



<script type="text/javascript" >
  jQuery(function() {
    var nav = jQuery('.nav');
    var main = jQuery('.main');

    // メニューのtop座標を取得する
    var offsetTop = nav.offset().top;

    var floatMenu = function() {
        // スクロール位置がメニューのtop座標を超えたら固定にする
        if (jQuery(window).scrollTop() > offsetTop) {
            nav.addClass('fixed');
            main.addClass('fixed_main');
        } else {
            nav.removeClass('fixed');
            main.removeClass('fixed_main');
        }
    }
    jQuery(window).scroll(floatMenu);
    jQuery('body').bind('touchmove', floatMenu);
});
</script>
